/* Styles pour la page d'appartement: le cadre du texte simule un document dans un appartement */
.apartment-window {
  background-color: var(--apartment-interior-color); /* Fond blanc pur pour le texte */
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
  border: none;
  border-radius: 1rem;
  min-height: 400px;
  margin-top: 15px;
}

/* Style pour le conteneur principal de la page d'appartement */
.apartment-page-bg {
  width: 85%;
  margin: auto;
  background-color: var(--background-color);
  padding: 10px;
}



/* Style pour le bouton de génération d'idée */
.idea-button {
  background-color: var(--default-case-color);
  color: var(--light-text-color);
  transition: background-color 0.2s, transform 0.1s;
  margin-left: 3%;
  margin-right: auto;
  margin-bottom: 20px;
}

.idea-button:hover {
  background-color: var(--hovered-case-color);
}

/* Correction: utiliser 'white-space: normal' car nous utilisons maintenant des <br/> explicites */
.formatted-text {
  white-space: normal;
}