.btn-no-text {
  background-color: var(--default-text-color);
  color: var(--light-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  height: 60px;
  width: 100px;
}
.btn-no-text:hover {
  background-color: var(--hovered-case-color);
  color: var(--title-color);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
.btn-has-text {
  background-color: var(--default-case-color);
  color: var(--light-text-color);
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  height: 60px;
  width: 100px;
}
.btn-has-text:hover {
  background-color: var(--hovered-case-color);
  color: var(--title-color);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
.btn-has-texte {
  margin: O;
  width: 100%;
  height: 100%;
  min-height: 50px;
}