/* Container */
.page-container {
    background-color: var(--background-color);
    min-height: 100vh
}
.building-facade {
  padding-top: 3rem;
  margin-bottom: 2rem;
  background-color: var(--building-facade-color);
}

.building-inner-content {
  position: relative;
  z-index: 20;
  width: 100%;
  min-height: calc(100vh - 2.5rem);
  padding-bottom: 30px;
  display: grid;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}


/* Style du toit en forme de marquise/auvent */
.building-roof {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2.5rem;
  background-color: var(--marquise-roof-color); /* Couleur bleue */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  z-index: 10;

  /* Effet de plis ou de vagues sur le bas de l'auvent */
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 70%,
    95% 100%,
    90% 70%,
    85% 100%,
    80% 70%,
    75% 100%,
    70% 70%,
    65% 100%,
    60% 70%,
    55% 100%,
    50% 70%,
    45% 100%,
    40% 70%,
    35% 100%,
    30% 70%,
    25% 100%,
    20% 70%,
    15% 100%,
    10% 70%,
    5% 100%,
    0% 70%
  );
}

/* Bouton RDC */
.rdc-button {
  background-color: var(--default-case-color);
  color: var(--light-text-color);
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 1.25rem;
  transition: all 0.2s;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  margin-left: 2rem;
  grid-column: 6 / span 5;
  align-self: center;
  justify-self: center;
}
.rdc-button:hover {
  background-color: var(--hovered-case-color);
  color: var(--title-color);
  box-shadow: 0 8px 10px -3px rgba(0, 0, 0, 0.2);
}

/* Bouton Fleuriste */
.florist-button {
  background-color: var(--default-text-color);
  color: var(--light-text-color);
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 1.25rem;
  transition: all 0.2s;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  margin-right: 20rem;
  align-self: center;
  justify-self: center;
  margin-top: 8px;
}
.florist-button:hover {
  background-color: var(--hovered-case-color);
  color: var(--title-color);
  box-shadow: 0 8px 10px -3px rgba(0, 0, 0, 0.2);
}